@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: normal;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  
}

html {
  overflow-x: hidden;
}