@import './base.css';

#app {
  padding: 2rem 0;
  font-weight: normal;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  
}

html {
  overflow-x: hidden;
}

.slot-img {
  width: 100%;
}